/* Shared style */
* {

        /* margin: 0;
        padding: 0 135px; */
        font-family: 'Mulish',
            sans-serif; 
}
.text-span-color {
    color: #FF5400;
}

/* header style */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo-text {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.nav-list ul {
    display: flex;
    list-style: none;
}

.nav-list ul li {
    margin-left: 44px;
}

.nav-list ul li a {
    text-decoration: none;
}

.list-text a {
    color: #424247;
    font-weight: 400;
}

.menu-bar {
    display: none;
}

/* header-banner style */

.header-banner {
    background-image: linear-gradient(#131318, #13131800), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
}

.header-banner-container {
    padding: 106px 0;
}

.banner-heading h3 {
    color: #FFF;
    font-family: Mulish;
    font-size: 4rem;
    font-weight: 800;
    margin: 0;

}

.banner-heading p {
    margin-top: 24px;
    margin-bottom: 48px;
    color: #FFF;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;

}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    gap: 24px;
    margin: 0 135px;

}

.select-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 174px;
    border-radius: 8px;
    background: white;
    padding: 16px;
    gap: 50px;
    color: black;
}

.search {
    background: #FF5400;
    justify-content: center;
    gap: 10px;
    color: #FFFFFF;
}

/* ======== Our Popular Tours section design start ======== */
.our-popular-section {

    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin: 100px 0;
}

.section-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.left-side ul li {
    font-size: 1rem;
    font-weight: 400;
    margin-right: 20px;
    margin-bottom: 16px;
    color: rgba(19, 19, 24, 0.7);
}

.primary-btn {

    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 32px;
    padding: 15px 36px;
    border-radius: 8px;
    background: #ff5400;
    border: none;
}
/* choose destination */
.text-contents {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 44px;
  }
  
  .text-contents p {
    width: 650px;
    margin: 0 auto;
  }
  
  .img-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
  }
  
  .grid-item-1 {
    grid-column: 1 / span 6;
  }
  
  .grid-item-2 {
    grid-column: 7 / span 6;
  }
  
  .grid-item-3 {
    grid-column: 1 / span 4;
  }
  
  .grid-item-4 {
    grid-column: 5 / span 5;
  }
  
  .grid-item-5 {
    grid-column: 10 / span 3;
  }
  
  .grid-item-6 {
    grid-column: 1 / span 5;
  }
  
  .grid-item-7 {
    grid-column: 6 / span 7;
  }


/* Mobile Screen style */
@media only screen and (max-width: 600px) {
    header ,main{
        margin: 0 24px;
    }

    .nav-list {
        display: none;
    }

    .menu-bar {
        display: block;
    }

    .logo-text {
        font-size: 1.3rem;
    }

    .header-banner-container {
        padding: 32px 0;
    }

    .banner-heading h3 {
        font-size: 2rem;
        margin-bottom: 8px;
    }

    .banner-heading p {
        padding: 8px;
        font-size: 1rem;
        margin-bottom: 0px;
    }

    .select-container {
        flex-direction: column;
        margin: 24px;
        gap: 16px;
    }
    
    .select-card {
        padding: 10px;
        width: 90%;
    }
    
    .our-popular-section{
        gap: 25px;
        flex-direction: column;
    }
    
    .right-side img {
        width: 100%;
    
    }
    
    .section-title {
        font-size: 1.2rem;
    
    }
    
    .section-text {
        font-size: 1rem;
    
    }
}


